@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #e2e2e2;
  width: 100vw;
  height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h3 {
  color: #101a35;
  font-size: 20px;
}
h2 {
  color: #76777c;
  font-size: 23px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 15vh;
}

.header {
  width: 40vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header a img {
  width: 100px;
}

.header a {
  font-size: 17px;
  text-decoration: none;
  font-weight: 600;
  color: #101a35;
}

main {
  width: 70vw;
  height: 85vh;
}

.ingrePreparo {
  display: flex;
  flex-direction: column;
}
.pudim {
  width: 70vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  column-gap: 100px;
  margin-top: 40px;
}

h3 {
  margin-top: 20px;
}

.ing,
.preparo {
  text-align: justify;
  width: 20vw;
  height: 25vh;
}
.preparo h2 {
  margin-top: 40px;
}

.pudim img {
  width: 250px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
