* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

header {
  width: 100vw;
  height: 10vh;
  background-color: lightblue;
}

main {
  width: 100vw;
  height: 82vh;
  background-color: lightgreen;
}

footer {
  width: 100vw;
  height: 8vh;
  background-color: lightcoral;
}
