@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body {
  width: 100vw;
  height: 370vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  margin-top: 50px;
}
button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 192px;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 40vw;
  text-align: justify;
}
.ex1, .ex2, .ex3, .ex4, .ex5,
.ex6, .ex7, .ex8, .ex9, .ex10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100vw;
}
h2{
  text-decoration: underline;
  margin-top: 20px;
}
label {
  margin-top: 15px;
  font-weight: bold;
}
input {
  width: 192px;
  padding: 5px;
  margin-top: 5px;
  overflow: hidden;
}
h3 {
  margin-top: 5px;
}