@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(45deg, rgb(5, 10, 15) 50%, rgb(10,20,30) 50%);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-calc {
  width: 350px;
  height: 550px;
  background: rgb(30, 30, 30);
  border-radius: 15px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.5);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calc {
  width: 350px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.display {
  width: 280px;
  height: 8vh;
  background: rgb(100, 200, 100);
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px;
  font-size: 2.5rem;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.keys button {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: rgb(40, 40, 40);
  transition: 0.5s;
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.keys button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.keys button:active {
  transform: scale(0.95);
}

.keys .delete {
  background: rgb(150, 0, 0);
}

.keys .delete-all {
  background: rgb(220, 100, 0);
}

.keys .equal {
  background: rgb(0, 0, 150);
}

.keys .zero {
  width: 130px;
}

a {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}
a:hover {
  transform: scale(1.05);
}
a:active {
  transform: scale(.95);
}
img {
  width: 50px;
  height: 50px;
}