@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}

:root {
  --color1: rgb(20, 20, 20);
  --color2: rgb(30, 30, 30);
  --color3: rgb(255, 255, 255);
  --color4: rgb(100, 0, 255);
  --color5: rgb(255, 50, 150);
  --color6: rgb(0, 0, 0);
  --color7: rgb(0, 255, 100);
  --color8: rgb(255, 200, 0);
  --color9: rgb(255, 50, 0);
  --color10: rgb(0, 200, 200);
}

a {
  text-decoration: none;
}

body {
  background: var(--color1);
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 10vh;
  background: var(--color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
  letter-spacing: 3px;
  padding-inline: 300px;
}
header span {
  font-size: 3.1rem;
  color: var(--color8);
}
header div {
  display: flex;
  column-gap: 50px;
  font-size: 1.8rem;
}
header div a {
  color: var(--color3);
  transition: 0.5s;
}
header div a:hover {
  transform: scale(1.2);
  color: var(--color7);
}

main {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  row-gap: 100px;
  margin-bottom: 50px;

}
main > h1 {
  color: var(--color5);
  font-size: 4.3rem;
  letter-spacing: 3px;
}
.divBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}
.button {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  background: var(--color6);
  box-shadow: 5px 5px 10px var(--color6);
  color: var(--color7);
  font-size: 3.1rem;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  color: var(--color8);
  transform: scale(1.15);
}
.button:active {
  transform: scale(0.95);
}
.excluir {
  color: var(--color8);
  width: 80px;
  height: 80px;
  font-size: 4.3rem;
}
.excluir:hover {
  color: var(--color9);
}

#result {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 30px;
  color: var(--color3);
  width: 100%;
  height: auto;
}

#result > h2 {
  font-size: 2rem;
  color: var(--color10);
}

.resultEx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  text-align: justify;
}

.resultEx p {
  font-size: 1.5rem;
  max-width: 100%;
  word-wrap: break-word;
}

.resultEx span {
  margin-right: 7px;
}

input {
  width: 200px;
  height: 70px;
  text-align: center;
  outline: none;
  font-size: 2rem;
  border-radius: 5px;
  border: 2px solid var(--color8);
  background: var(--color2);
  color: var(--color5);
}

#result > button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  background: var(--color7);
  border: 2px solid var(--color5);
  font-size: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
}

#result > button:hover {
  transform: scale(1.1);
  background: var(--color8);
}

#result > button:active {
  transform: scale(0.95);
}

.divButton > button {
  width: 110px;
  height: 40px;
  border-radius: 5px;
  background: var(--color7);
  border: 2px solid var(--color5);
  font-size: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
}

.divButton > button:hover {
  transform: scale(1.1);
  background: var(--color8);
}

.divButton > button:active {
  transform: scale(0.95);
}

.ex27 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
